{% extends "layout.html"%}


{% block title %}

    Portifolio

{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start" >Symbom</th>
                <th class="text-start" >Name</th>
                <th class="text-end" >Shares</th>
                <th class="text-end" >Price</th>
                <th class="text-end" >Total</th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
                <tr>
                    <td class="text-start" >{{ action["symbol"] }}</td>
                    <td class="text-start" >{{ action["name"] }}</td>
                    <td class="text-end" >{{ action["shares"] }}</td>
                    <td class="text-end" >{{ action["price"]|usd }}</td>
                    <td class="text-end" >{{ action["total"]|usd }}</td>
                </tr>
            {% endfor %}
        <tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4" >Cash</td>
                <td class="border-0 text-end"> {{ cash|usd }} </td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4" >TOTAL</td>
                <td class="border-0 w-bold text-end" > {{ total|usd }} </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}